doctype html
html
    head
        title Bookstore
        link( href="style.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    body
        #layout.flex
            a(href="/") Home
            a(href="/about") About
            a(href="/profil") Profil
            a(href="/register") Register
            a(href="/login") Login
        block content
            
        
        
